{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Add Event{% endblock %}

{% block content %}


<div class="page-wrapper">
  <div class="add-event-container">
    <h2> Add Event</h2>

    <form method="POST">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Event Name" required>
      <button type="submit">Add Event</button>
    </form>

    <a href="{% url 'dashboard' %}" class="back-link">← Back to Dashboard</a>
  </div>
  {% if messages %}
  <div style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
    {% for message in messages %}
    <div class="toast align-items-center text-bg-success border-0" role="alert">
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}



{% endblock %}
